QLEVER_ACCESS_TOKEN=atLeast32CharactersLong
QLEVER_UID=999
QLEVER_GID=999
QLEVER_INDEX_MEMORY=2G
QLEVER_MEMORY_FOR_QUERIES=16G
QLEVER_CACHE_MAX_SIZE=2G
QLEVER_QUERY_TIMEOUT=120s
WORKBENCH_ADMIN_USER=dba
WORKBENCH_ADMIN_PASSWORD=atLeast12Characters
WORKBENCH_URL=https://data.cimple.eu
SPARQL_TIMEOUT_MS=120000
DEREFERENCE_PATHS=graph,claim-review,review,tweet,news-article,organization,rating,claim,entity,emotion,conspiracy,meme,political-leaning,sentiment,original_rating
WHD_HOOK_TIMEOUT=21600
WHD_LOG_HTTP_REQUEST=true
WHD_LOG_HOOK_OUTPUT=true
WHD_LOG_MODULES=http,hook
GITHUB_TOKEN=yourGithubToken
CIMPLE_FACTORS_MODELS_PATH=/data/cimple-factors-models
HEALTHCHECKS_PING_URL=
